.screen-header__icons {
  position: relative;
}

.find-screen {
  height: 110vh;
}

.user-component {
  margin-bottom: 20px;
}

.user-component:last-child {
  margin-bottom: 0;
}

.red-dot {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  position: absolute;
  right: -10px;
  top: -12px;
}

.recommended-friends {
  margin: 25px 0;
  padding: 25px 0;
  border-bottom: var(--main-border);
  border-top: var(--main-border);
}
.recommended-friends__title {
  margin-bottom: 20px;
}

.recommended-friends__title,
.open-chat__header h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--brown);
}

.recommended-friends span {
  display: block;
  margin: 100px 0;
  text-align: center;
  color: var(--gray-color);
  font-size: 18px;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post:last-child {
  margin-top: 40px;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  background-color: var(--gray-color);
  margin: 0 5px;
}

.open-post__member-status {
  color: red;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 5px;
}

@keyframes heartBeat-red {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: red;
    transform: scale(1.5);
  }
  100% {
    color: white;
  }
}

.heart-red:hover i {
  will-change: transform;
  animation: heartBeat-red 1s linear infinite;
}

@keyframes heartBeat-green {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: green;
    transform: scale(1.5);
  }
  100% {
    color: white;
  }
}

.heart-green:hover i {
  will-change: transform;
  animation: heartBeat-green 1s linear infinite;
}
