.status-bar {
  background-color: black;
  color: whitesmoke;
  display: flex;
  font-weight: 700;
  justify-content: center;
  padding: 15px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 1;
}

.status-bar__column {
  width: 33.3%;
}

.status-bar__column:first-child span {
  margin-right: 10px;
}

.status-bar__column:nth-child(2) {
  display: flex;
  font-size: 18px;
  justify-content: center;
}

.status-bar__column:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@keyframes battery {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: rgb(147, 233, 147);
    transform: scale(1.2);
  }
  100% {
    color: white;
  }
}

.status-bar__column .fa-battery-full {
  margin: 0px 14px;
  animation: battery 1s linear infinite;
}

.status-bar__column .fa-bolt {
  color: var(--yellow);
}
